n8n/analysis-worker-workflow.json.backup-20260212-023500
{
  "name": "hp-workflow-analysis-worker",
  "nodes": [
    {
      "id": "webhook-paid-analysis-start",
      "name": "Webhook Paid Analysis Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        460
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "hp-paid-analysis",
        "responseMode": "onReceived",
        "options": {
          "responseData": "accepted"
        }
      }
    },
    {
      "id": "normalize-paid-payload",
      "name": "Normalize Paid Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        460
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $json.body ?? {};\nconst companyId = String(body.company_id || '').trim();\nif (!companyId) {\n  throw new Error('company_id is required');\n}\n\nconst paidTrigger = body.paid_trigger === true || body.paid_trigger === 'true';\n\nreturn [{\n  json: {\n    company_id: companyId,\n    paid_trigger: paidTrigger,\n    checkout_session_id: String(body.checkout_session_id || ''),\n    stripe_event_id: String(body.stripe_event_id || ''),\n    requested_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "if-paid-trigger-valid",
      "name": "If Paid Trigger Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        460
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.paid_trigger === true}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "mark-invalid-paid-trigger",
      "name": "Mark Invalid Paid Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/company-records/status",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $json.company_id, status: 'manual_review_required', reason: 'paid_trigger_missing_or_invalid' } }}"
      }
    },
    {
      "id": "update-status-analysis-running",
      "name": "Update Status Analysis Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        340
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/company-records/status",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $json.company_id, status: 'analysis_running', started_at: $json.requested_at } }}"
      }
    },
    {
      "id": "resolve-website",
      "name": "Resolve Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        340
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/resolve-website",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id } }}"
      }
    },
    {
      "id": "if-website-confidence-pass",
      "name": "If Website Confidence Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1490,
        340
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{Number($json.resolution_confidence || $json.confidence || 0)}}",
              "operation": "largerEqual",
              "value2": 0.85
            }
          ]
        }
      }
    },
    {
      "id": "mark-r1-required",
      "name": "Mark R1 Manual Review Required",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/company-records/status",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id, status: 'manual_review_required', reason: 'website_confidence_below_threshold', confidence: Number($node['Resolve Website'].json.resolution_confidence || $node['Resolve Website'].json.confidence || 0) } }}"
      }
    },
    {
      "id": "wait-r1-approval",
      "name": "Wait R1 Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        200
      ],
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "limitWaitTime": true,
        "limitType": "afterTimeInterval",
        "resumeAmount": 24,
        "resumeUnit": "hours",
        "options": {
          "webhookSuffix": "r1-approval"
        }
      }
    },
    {
      "id": "parse-r1-decision",
      "name": "Parse R1 Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2030,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $json.body ?? {};\nconst decision = String(body.decision || body.status || $json.decision || '').toLowerCase();\n\nreturn [{\n  json: {\n    ...$json,\n    approval: decision === 'approved' ? 'approved' : 'rejected'\n  }\n}];"
      }
    },
    {
      "id": "if-r1-approved",
      "name": "If R1 Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        200
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.approval}}",
              "value2": "approved"
            }
          ]
        }
      }
    },
    {
      "id": "mark-r1-rejected",
      "name": "Mark R1 Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2570,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/company-records/status",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id, status: 'manual_review_required', reason: 'r1_rejected' } }}"
      }
    },
    {
      "id": "crawl-site",
      "name": "Crawl Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2570,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/crawl",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id, url: $node['Resolve Website'].json.official_website || $node['Resolve Website'].json.website || '' } }}"
      }
    },
    {
      "id": "psi-mobile",
      "name": "PSI Mobile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        80
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$node['Resolve Website'].json.official_website || $node['Resolve Website'].json.website || ''}}"
            },
            {
              "name": "strategy",
              "value": "mobile"
            },
            {
              "name": "category",
              "value": "performance"
            },
            {
              "name": "category",
              "value": "accessibility"
            },
            {
              "name": "category",
              "value": "seo"
            },
            {
              "name": "key",
              "value": "={{$env.GOOGLE_PSI_API_KEY}}"
            }
          ]
        }
      }
    },
    {
      "id": "psi-desktop",
      "name": "PSI Desktop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3110,
        80
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$node['Resolve Website'].json.official_website || $node['Resolve Website'].json.website || ''}}"
            },
            {
              "name": "strategy",
              "value": "desktop"
            },
            {
              "name": "category",
              "value": "performance"
            },
            {
              "name": "category",
              "value": "accessibility"
            },
            {
              "name": "category",
              "value": "seo"
            },
            {
              "name": "key",
              "value": "={{$env.GOOGLE_PSI_API_KEY}}"
            }
          ]
        }
      }
    },
    {
      "id": "lighthouse-audit",
      "name": "Lighthouse Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/lighthouse/run",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id, url: $node['Resolve Website'].json.official_website || $node['Resolve Website'].json.website || '' } }}"
      }
    },
    {
      "id": "build-content-inventory",
      "name": "Build Content Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3650,
        80
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\n\nconst companyId = $node['Normalize Paid Payload'].json.company_id;\nconst resolution = $node['Resolve Website'].json;\nconst crawl = $node['Crawl Site'].json;\nconst officialUrl = String(resolution.official_website || resolution.website || '').trim();\nif (!officialUrl) {\n  throw new Error('official website is missing');\n}\n\nconst sections = Array.isArray(crawl.sections) ? crawl.sections : [];\nconst fallbackSection = sections.length === 0\n  ? [{ id: 'summary', headline: String(crawl.title || 'Company Summary'), body: String(crawl.summary || '') }]\n  : sections;\n\nconst textHashes = {};\nfor (const section of fallbackSection) {\n  const key = String(section.id || section.headline || 'section').trim() || 'section';\n  const rawText = JSON.stringify(section);\n  const hash = crypto.createHash('sha256').update(rawText).digest('hex');\n  textHashes[key] = `sha256:${hash}`;\n}\n\nreturn [{\n  json: {\n    company_id: companyId,\n    company: {\n      name: String(resolution.company_name || crawl.company_name || ''),\n      official_url: officialUrl,\n      address: String(crawl.address || ''),\n      phone: String(crawl.phone || '')\n    },\n    content_lock: {\n      policy: 'no_new_text',\n      allow: ['reorder', 'layout_change', 'typography_change', 'whitespace_change'],\n      deny: ['add_claims', 'delete_sections', 'rewrite_body'],\n      text_hashes: textHashes\n    },\n    sections: fallbackSection,\n    psi: {\n      mobile: $node['PSI Mobile'].json,\n      desktop: $node['PSI Desktop'].json\n    },\n    lighthouse: $node['Lighthouse Audit'].json\n  }\n}];"
      }
    },
    {
      "id": "check-content-lock",
      "name": "Check Content Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/content-lock/verify",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      }
    },
    {
      "id": "if-content-lock-ok",
      "name": "If Content Lock OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4190,
        80
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.content_lock_ok === true || $json.passed === true}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "stop-publication-content-lock-violation",
      "name": "Stop Publication (Content Lock Violation)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4460,
        340
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/proposals/stop-publication",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id, reason: 'content_lock_violation', lock_result: $json } }}"
      }
    },
    {
      "id": "wait-r2-approval",
      "name": "Wait R2 Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4460,
        20
      ],
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "limitWaitTime": true,
        "limitType": "afterTimeInterval",
        "resumeAmount": 24,
        "resumeUnit": "hours",
        "options": {
          "webhookSuffix": "r2-approval"
        }
      }
    },
    {
      "id": "parse-r2-decision",
      "name": "Parse R2 Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4730,
        20
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $json.body ?? {};\nconst decision = String(body.decision || body.status || $json.decision || '').toLowerCase();\n\nreturn [{\n  json: {\n    ...$json,\n    approval: decision === 'approved' ? 'approved' : 're-extract'\n  }\n}];"
      }
    },
    {
      "id": "if-r2-approved",
      "name": "If R2 Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5000,
        20
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.approval}}",
              "value2": "approved"
            }
          ]
        }
      }
    },
    {
      "id": "re-extract-content-inventory",
      "name": "Re-extract Content Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5270,
        220
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return [{\n  json: {\n    ...$node['Build Content Inventory'].json,\n    reextract_requested: true,\n    reextract_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "save-content-lock",
      "name": "Save Content Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5270,
        -40
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/content-lock/save",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id, content_inventory: $node['Build Content Inventory'].json, status: 'content_locked', approved_by: 'R2' } }}"
      }
    },
    {
      "id": "trigger-final-build-workflow",
      "name": "Trigger Final Build Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -40
      ],
      "parameters": {
        "method": "POST",
        "url": "https://automation.internal/webhook/hp-final-build",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Normalize Paid Payload'].json.company_id, content_lock_ready: true, source: 'analysis-worker' } }}"
      }
    }
  ],
  "connections": {
    "Webhook Paid Analysis Start": {
      "main": [
        [
          {
            "node": "Normalize Paid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Paid Payload": {
      "main": [
        [
          {
            "node": "If Paid Trigger Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Paid Trigger Valid?": {
      "main": [
        [
          {
            "node": "Update Status Analysis Running",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Invalid Paid Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Analysis Running": {
      "main": [
        [
          {
            "node": "Resolve Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Website": {
      "main": [
        [
          {
            "node": "If Website Confidence Pass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Website Confidence Pass?": {
      "main": [
        [
          {
            "node": "Wait R1 Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark R1 Manual Review Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait R1 Approval": {
      "main": [
        [
          {
            "node": "Parse R1 Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse R1 Decision": {
      "main": [
        [
          {
            "node": "If R1 Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If R1 Approved?": {
      "main": [
        [
          {
            "node": "Crawl Site",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark R1 Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl Site": {
      "main": [
        [
          {
            "node": "PSI Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PSI Mobile": {
      "main": [
        [
          {
            "node": "PSI Desktop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PSI Desktop": {
      "main": [
        [
          {
            "node": "Lighthouse Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lighthouse Audit": {
      "main": [
        [
          {
            "node": "Build Content Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Content Inventory": {
      "main": [
        [
          {
            "node": "Check Content Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Content Lock": {
      "main": [
        [
          {
            "node": "If Content Lock OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Content Lock OK?": {
      "main": [
        [
          {
            "node": "Wait R2 Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Publication (Content Lock Violation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait R2 Approval": {
      "main": [
        [
          {
            "node": "Parse R2 Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse R2 Decision": {
      "main": [
        [
          {
            "node": "If R2 Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If R2 Approved?": {
      "main": [
        [
          {
            "node": "Save Content Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-extract Content Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-extract Content Inventory": {
      "main": [
        [
          {
            "node": "Build Content Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Content Lock": {
      "main": [
        [
          {
            "node": "Trigger Final Build Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
