n8n/ingest-workflow.json
{
  "name": "hp-workflow-ingest",
  "nodes": [
    {
      "id": "webhook-intake-csv",
      "name": "Webhook Intake CSV",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "hp-intake-csv",
        "responseMode": "onReceived",
        "options": {
          "responseData": "accepted"
        }
      }
    },
    {
      "id": "parse-csv-payload",
      "name": "Parse CSV Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $json.body ?? {};\nconst records = Array.isArray(body.records) ? body.records : [];\n\nif (records.length === 0) {\n  throw new Error('body.records is required');\n}\n\nconst normalizeId = (value, fallback) => {\n  const normalized = String(value || fallback || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n  return normalized || `company-${Date.now()}`;\n};\n\nreturn records.map((record, index) => {\n  const companyName = String(record.company_name || record.company || '').trim();\n  if (!companyName) {\n    throw new Error(`records[${index}].company_name is required`);\n  }\n\n  const email = String(record.email || 'unknown@example.com').trim().toLowerCase();\n  const domain = String(record.domain || record.email_domain || '').trim().toLowerCase();\n  const website = String(record.website || record.url || '').trim();\n\n  return {\n    json: {\n      company_id: normalizeId(record.company_id, `${companyName}-${domain || index + 1}`),\n      company_name: companyName,\n      input_source: 'wantedly_people_csv',\n      status: 'new',\n      contacts: [\n        {\n          name: String(record.contact_name || record.name || 'Unknown').trim(),\n          email,\n          phone: String(record.phone || '').trim(),\n          title: String(record.title || '').trim()\n        }\n      ],\n      website_resolution: {\n        official_website: website || 'https://example.com',\n        resolution_confidence: Number(record.resolution_confidence || 0),\n        evidence: []\n      }\n    }\n  };\n});"
      }
    },
    {
      "id": "upsert-company-record",
      "name": "Upsert Company Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/company-records/upsert",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $json.company_id, company_name: $json.company_name, input_source: $json.input_source, status: $json.status, contacts: $json.contacts, website_resolution: $json.website_resolution } }}"
      }
    },
    {
      "id": "create-checkout-session",
      "name": "Create Checkout Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/billing/create-checkout-session",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $json.company_id, company_name: $json.company_name, mode: 'paid_analysis', metadata: { company_id: $json.company_id } } }}"
      }
    },
    {
      "id": "create-free-comparison-page",
      "name": "Create Free Comparison Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/proposals/create-free-comparison",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Parse CSV Payload'].json.company_id, company_name: $node['Parse CSV Payload'].json.company_name, preview_mode: 'free', checkout_url: $json.checkout_url || $json.url || '' } }}"
      }
    },
    {
      "id": "send-preview-url",
      "name": "Send Preview URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/notifications/send-preview",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Parse CSV Payload'].json.company_id, email: $node['Parse CSV Payload'].json.contacts[0].email, preview_url: $json.comparison_url || $json.preview_url || '', checkout_url: $node['Create Checkout Session'].json.checkout_url || '', message_type: 'free_preview_before_payment' } }}"
      }
    },
    {
      "id": "update-status-awaiting-payment",
      "name": "Update Status Awaiting Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.internal/company-records/status",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { company_id: $node['Parse CSV Payload'].json.company_id, status: 'resolved_pending', payment_state: 'awaiting_checkout', preview_url: $node['Create Free Comparison Page'].json.comparison_url || $node['Create Free Comparison Page'].json.preview_url || '' } }}"
      }
    }
  ],
  "connections": {
    "Webhook Intake CSV": {
      "main": [
        [
          {
            "node": "Parse CSV Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV Payload": {
      "main": [
        [
          {
            "node": "Upsert Company Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Company Record": {
      "main": [
        [
          {
            "node": "Create Checkout Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Checkout Session": {
      "main": [
        [
          {
            "node": "Create Free Comparison Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Free Comparison Page": {
      "main": [
        [
          {
            "node": "Send Preview URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Preview URL": {
      "main": [
        [
          {
            "node": "Update Status Awaiting Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
